[Bb]in/
[Oo]bj/
[Oo]ut/
artifacts/
publish/

*.user
*.suo
*.userprefs
*.vs/

.idea/
*.sln.iml
*.DotSettings

*.log
*.njsproj.*
*.tmp
*.TMP

.nuget/
packages/
*.nupkg
NuGet.exe

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

.DS_Store

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

local.settings.json

coverage*.json
coverage*.xml
coverage*.info
*.coverage